.body {
    margin: 20px auto;
    padding: 20px 10px;
    width: 500px;
    border: 1px solid black;
    flex-wrap: wrap;
    display: flex;
}

.timeBox {
    position: relative;
    padding: 10px 25px 10px 5px;
    width: 120px;
    margin-right: 10px;
    border: 1px solid black;
    font-size: 30px;
}

.deleteTime {
    position: absolute;
    top: 0;
    right: 0;
}